.photo-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  padding-top: 25px;
  margin-bottom: 50px;
}
.photo-box__name {
  color: #fff;
  margin: 0px;
}
.photo-box__avatar {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
  border-radius: 50%;
}
