.exp {
  display: flex;
  margin: 7px 0px;
}
.ver-line {
  height: 25px;
  border: 2px solid green;
  width: 3px;
  height: 100%;
}
.exp-year {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  h6 {
    margin: 10px 0px;
  }
}
.exp-content {
  background: #eeeeee;
  padding: 10px;
}
