@import "./assets/styles/aside";
@import "./assets/styles/variables";
@import "./assets/styles/intro-page";
@import "./components/Expertise/experience.scss";
@import "./components/Timeline/timeline.scss";
@import "./components/Portfolio/portfolio.scss";
@import "./components/Feedback/feedback.scss";
@import "./assets/styles/reset";
@import "./components/Photobox/photobox.scss";
@import "./components/Button/button.scss";
@import "./assets/styles/mobile";
@import "./assets/styles/contact";
/* Main */
.main {
  margin: 20px;
  margin-bottom: 0;
}
.main-container {
  margin: 0 15px;
  position: relative;
}
.main-container-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: stretch;
  flex-wrap: nowrap;
  margin-bottom: 0;
  transition: transform 0.3s ease;
}
.main-container-button .button {
  text-align: center;
  padding: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  transition: transform 0.3s ease;
}
.main-container-button .button__icon {
  margin: auto;
}
.main-container-button--nav {
  display: flex;
  position: absolute;
  top: 20px;
  right: auto;
  bottom: auto;
  left: 250px;
  border-radius: 0;
  transition: transform 0.3s ease;
}
.main-container-button--nav .button__icon {
  font-size: 20px;
  padding: 0px 3px;
  transition: transform 0.3s ease;
}
.main-container-button--left-aligned {
  position: absolute;
  top: 20px;
  border-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  transition: transform 0.3s ease;
}
.main-container .arrow-button .button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
  padding: 6px;
  border-top-left-radius: 5px;
}

.layout-section {
  display: flex;
  position: relative;
}
